<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="telephone=no" name="format-detection">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <meta name='description' content=''>
    <meta name='author' content=''>

    <block name='title'>
      <title>Title of Your Site</title>
    </block>
    <link rel='stylesheet' href='/css/index.css'>
  </head>
  <body>
    <main id='{{ pageId || "podcast" }}'>
      <block name='content'></block>
    </main>
    <block name='javascript'>
      <script src='//w.soundcloud.com/player/api.js'></script>
      <script src='/js/main.js' defer></script>
    </block>
  </body>
</html>
