<extends src='layout.html'>
	<block name='content'>
		<div class="podcast-info">
			<div class="audio-player">
				<div class="play-pause-button">
					<svg class="play" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M2 24v-24l20 12-20 12z" />
					</svg>
					<svg class="pause hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M10 24h-6v-24h6v24zm10-24h-6v24h6v-24z" />
					</svg>
				</div>
				<div class="player">
					<div class="time"><span class="current-time">00:00</span>/<span class="total-time">{{item.fields.duration}}</span></div>
					<div class="progress"></div>
					<div class="notes">
						<each loop="note, i of contentful.notes.filter((el) => el.fields.podcast.sys.id === item.sys.id)">
							<div href="#{{note.sys.id}}" class="note-pastille" data-timestamp="{{note.fields.timestamp}}" data-id={{note.sys.id}} style="left: {{(toMs(note.fields.timestamp) / toMs(item.fields.duration)) * 100}}%;"></div>
						</each>
					</div>
				</div>
				<iframe class="sc-player" src="//w.soundcloud.com/player/?url=https://soundcloud.com/theworkwedo/{{item.fields.soundcloudId}}"></iframe>
			</div>

			<div class="info">
				<section class="podcast-intro">
					<a class="back" href="/">←</a>

					<h1>{{ item.fields.guestName }}</h1>
					<h2>{{ item.fields.guestDescription }}</h2>
					<h3>Episode {{ item.fields.number }}</h3>

					<div class="long-description">
						{{ md(item.fields.longDescription) }}
					</div>
				</section>

				<div class="duotone duotone-wrapper">
				  <div class="image image-header" style="background-image: url('{{item.fields.largePicture.fields.file.url}}')"></div>
				</div>
			</div>
			<div class="show-notes">
				<h2>Show Notes</h2>

				<div class="notes-grid invisible">
					<each loop="note, i of contentful.notes.filter((el) => el.fields.podcast.sys.id === item.sys.id).sort((a, b) => toMs(a.fields.timestamp) - toMs(b.fields.timestamp))">

						<div class="note-wrapper {{!note.fields.media && !note.fields.url ? 'quote-wrapper' : ''}}">

							<div class="note {{note.fields.media ? 'media' : ''}} {{!note.fields.media && !note.fields.url ? 'quote' : ''}} {{!note.fields.media && !note.fields.url && note.fields.content.length < 100 ? 'big' : '' }} {{note.fields.url && !note.fields.media ? 'link' : ''}}" id="{{note.sys.id}}">
								<if condition="note.fields.url && note.fields.media">
									{{md(note.fields.content || '')}}
									<p><a target="_blank" class="media-link" href="{{note.fields.url}}">See more <span class="arrow">→</span></a></p>
									<a target="_blank" href="{{note.fields.url}}"><img src="{{note.fields.media.fields.file.url}}" /></a>
								</if>
								<elseif condition="note.fields.media">
									{{md(note.fields.content || '')}}
									<img src="{{note.fields.media.fields.file.url}}" />
								</elseif>
								<elseif condition="note.fields.url">
									<a target="_blank" href="{{note.fields.url}}">
										<span class="title">{{note.fields.content || ''}}</span>
										<span class="arrow">→</span>
									</a>
								</elseif>
								<else>
									{{md(note.fields.content || '')}}
								</else>
							</div>
							<div class="functions">
								<div class="timestamp" data-id="{{note.sys.id}}" data-timestamp="{{note.fields.timestamp}}">{{note.fields.timestamp}}</div>
								<a href="https://twitter.com/intent/tweet/?text={{encodeURIComponent(note.fields.content || 'The Work We Do – A podcast about people redefining the meaning and purpose of work')}}&url=http://www.theworkwedo.co/podcasts/{{item.fields.number}}-{{slug(item.fields.guestName.toLowerCase())}}" target="_blank" aria-label="Share on Twitter" class="twitter-share" data-id="{{note.sys.id}}">
								    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"/></svg>
								</a>
							</div>
						</div>
					</each>
				</div>

				<div class="footer">
				  <div>The Work We Do {{ new Date().getFullYear() }}</div>
				  <div>Powered by Contentful</div>
				</div>
			</div>
		</div>
	</block>
</extends>
